/* *{
    border: 2px solid red;
} */
.MathMainGrid{
    display: grid;
    width: 100vw;
    grid-template-columns: 60vw 40vw;
    /* grid-template-rows: 100vh; */
    margin:0 auto;
    margin-top: 10vh;
    background-image: url('../../assets/mathlandbg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.MathLandingLeft{
    grid-column: 1/2;
    background-color: transparent;
    display: grid;
    grid-template-columns:30vw 30vw;
    /* gap:1vw; */
    grid-template-rows: 46vh 46vh;
    margin-top: 6vh;

}
.MathLandingRight{
    grid-column: 2/3;
    height:100vh;
    /* width: 30vw; */
}
#mathlandchild{
    margin-top: 10vh;
    width:100vw;
    height:90vh;
    object-fit: contain;
    object-position: left;
    overflow: visible;
    /* margin-right: 20vw; */
}

#add{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #cfd9fe;
    border-radius: 20px;
    margin:20px;
    /* background-size: cover; */
}
#add:hover{
    background-color:  #bbc9fd;

}
.HMathButtons{
    display: block;
    /* background-color:; */
    text-align: center;
    margin:0 auto;
    padding:0.2vh;
    font-size: clamp(4vh,2em,4vh);
}
#MathAddImg{
    object-fit: contain;
    overflow: hidden;
}

#multiply{
    /* background-color: palegoldenrod; */
    background-color: #d566a6;
    border-radius: 20px;
    margin:20px;
}
#multiply:hover{
    background-color: #b14383;

}
#divide{
    background-color: #9cfbff;
    border-radius: 20px;
    margin:20px;
}
#divide:hover{
    background-color: #11eff7;
}
#subtract{
    background-color: #f4e182;
    border-radius: 20px;
    margin:20px;
}
#subtract:hover{
    background-color: #f1d12e;

}
@media screen and (max-width:840px){
    .MathMainGrid{
        grid-template-columns: 50vw 50vw;
        /* grid-template-rows: 100vh; */
    
    }
    .MathLandingLeft{
        grid-column: 1/2;
        background-color: transparent;
        display: grid;
        grid-template-columns:50vw;
        gap:1vw;
        grid-template-rows: 50vh 50vh 50vh;
        margin-top: 6vh;
    
    }
    .MathLandingRight{
        grid-column: 2/3;
        height:100vh;
        /* width: 30vw; */
    }
    #mathlandchild{
        margin-top: 15vh;
        width:100vw;
        height:90vh;
        object-fit: contain;
        object-position: left;
        overflow: visible;
        /* margin-right: 20vw; */
    }
}

@media screen and (max-width:570px){
    .MathMainGrid{
        grid-template-columns: 100vw;
        grid-template-rows:100vh 200vh ;
    
    }
    .MathLandingLeft{
        grid-row:2/3;
        grid-column: 1/2;
        background-color: transparent;
        display: grid;
        grid-template-columns:50vw;
        gap:1vw;
        grid-template-rows: 50vh 50vh 50vh;
        margin-top: 6vh;
        justify-content: center;
    
    }
    .MathLandingRight{
        grid-row: 1/2;
        grid-column: 1/2;

        height:100vh;
        /* width: 30vw; */
    }
    .HMathDivs{
        width:200px;
        height:200px;
        /* margin-r */
    }
}